* {
    font-family: IRANSans;
    text-align: right;
    direction: rtl;
}
body {
    padding: 2rem;
    background-color: #f7f7f7;
}
.invoice {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 0 3px 2px #ddd;
}
h1 {
    font-size: 1.7rem;
    margin-bottom: 2rem;
    text-align: center;
}
h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.invoice-code:focus {
    outline: none;
}
.invoice-code {
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;
    display: block;
    cursor: pointer;
    border: 0;
    text-align: center;
}

@media screen and (max-width: 600px){
    body {
        padding: 0;
    }
    .invoice {
        background-color: #fff;
        padding: 2rem 0.5rem;
        border-radius: 0;
        box-shadow: none;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    .invoice-code {
        font-size: 1rem;
    }
    .invoice tfoot  th {
        font-size: 0.9rem;
        padding: 1rem .75rem;
        vertical-align: middle;
        font-weight: 600;
    }
}