.toast {
    font-size: 14px;
    display: none;
    position: fixed;
    bottom: -10px;
    left: 10px;
    min-width: 100px;
    max-width: 300px;
    background-color: $blue;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    color: #fff;
    &.active {
        display: block;
        bottom: 10px;
    }
}
.search-box-container {
    .search-box-btn {
        display: none;
    }
}

.search-box-modal,
.search-box{
    background-color: #fff;
    width: 350px;
    margin-right: 50px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px #ccc;
    .tabs {
      display: flex;
      & > li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 15px;
        cursor: pointer;
        &.active {
          color: $blue;
          border-bottom: 2px solid $blue;
        }
      }
    }
    .box {
      position: relative;
      display: none;
      min-height: 150px;
      padding-bottom: 20px;
      &.active {
        display: block;
      }
      .btn {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
}

.search-box-modal {
    width: 100%;
    box-shadow: none;
    margin-right: 0;
    padding-top: 10px;
}

@include max_md() {
    .search-box-container {
        .search-box-btn {
            display: block;
        }
        .search-box{
            display: none;   
        }
    }
}