$blue: #03A9F4;
.list-page {
  position: absolute;
  display: flex;
  height: calc(100% - 60px);
  width: 100%;
  #map {
    width:100%;
    height: 100%;
    flex: 1;
  }
  .mapboxgl-ctrl-attrib-inner,
  .mapboxgl-ctrl-logo {
    display: none;
  }
  .entities {
    background: #fff;
    max-width: 350px;
    flex: 1;
    overflow: auto;
    @if($direction == 'rtl') {
      border-left: 1px solid #ddd;
    }@else {
      border-right: 1px solid #ddd;
    }
    .pagination-list {
      padding: 20px;
    } 
    .entity {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      border-bottom: 1px solid #ddd;
      .img-container {
        position: relative;
        max-width: 100px;
        height: 100px;
        flex: 1;
        img {
          width: 100%;
          height: 100%;
          border: 1px solid #ddd;
          border-radius: 5px;
          padding: 1px;
          object-fit: cover;
        } 
        .rate {
          display: flex;
          color: #fff;
          margin-bottom: 5px;
          position: absolute;
          bottom: 5px;
          right: 0;
          width: 100%;
          justify-content: center;
          svg {
            font-size: 12px;
            &.active {
              color: #03A9F4;
            }
          }
        }
      }
      .details {
        margin: 0 10px;
        max-width: calc(100% - 120px);
        flex: 1;
        h3 {
          font-size: 18px;
          width: 100%;
          margin-bottom: 5px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .address {
          font-size: 14px;
          margin-bottom: 5px;
          color: '#666';
        }
        .more {
          font-size: 12px;
          font-weight: 500;
          width: 80px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #999;
          padding: 5px 10px;
          @if($direction == 'rtl') {
            padding-left: 5px;
          }@else {
            padding-right: 5px;
          }
          border: 1px solid rgba(0,0,0,0.1);
          border-radius: 25px;
          text-align: center;
          svg {
            font-size: 14px;
            @if($direction == 'rtl') {
              margin-right: 10px;
            }@else {
              margin-left: 10px;
            }
          }
          &:hover {
            background-color: $blue;
            color: #fff;
          }
        }
      }
    }
  }
}

@include max_lg() {
  .list-page {
    .entities {
      .entity {
        .details {
          width: 200px;
          h3 {
            font-size: 18px;
            height: 42px;
            margin-bottom: 0;
          }
          p {
            font-size: 13px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            margin: 5px 0;
          }
        }
      }
      .right-data {
        .rate {
          font-size: 14px;
        }
        .more {
          font-size: 12px;
        }
      }
    }
  }
}

@include max-md() {
  .list-page {
    .entities {
      overflow: auto;
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: 0;
      @if($direction == 'rtl') {
        left: 0;
      }@else {
        right: 0;
      }
      z-index: 10;
      background: #fff;
      width: 100%;
      border-top: 1px solid #ccc;
      .entity {
        width: 150px;
        position: relative;
        flex-direction: column;
        border: 1px solid #ddd;
        padding: 0;
        border-radius: 5px;
        margin: 5px;
        img {
          width: 150px;
          height: 100px;
        }
        .details {
          width: 100%;
          padding: 0 5px;
          h3 {
            font-size: 15px;
          }
          .address {
            font-size: 10px;
          }
          .distance {
            display: none;
          }
        }
        .right-data {
          width: 100%;
          position: absolute;
          top: 10px;
          left: 5px;
          font-size: 10px;
          .rate {
            font-size: 10px;
          }
          .more {
            display: none;
          }
        }
      }
    }
  }
}