$color: #00b0b9;
.post-page {
  background-color: #fff;
  .head {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content {
      width: 70%;
      margin: auto;
      h1 {
        font-weight: 500;
        font-size: 3.5rem;
        margin-bottom: 30px;
      }
      p {
        font-weight: 500;
        font-size: 18px;
        max-width: 50%;
      }
    }
  }
  .body {
    max-width: 1100px;
    padding: 20px 0;
    margin: auto;
    .cards {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    .card {
      width: 300px;
      display: block;
      margin-bottom: 15px;
      img {
        width: 100%;
      }
      h3 {
        font-size: 20px;
        color: #333;
        padding: 10px 15px;
        margin: 0;
      }
      p {
        color: #666;
        padding: 0 15px;
      }
    }
    .boxs {
      display: flex;
      flex-wrap: wrap;
      .box {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        &.colorful *:not(a){ color: $color; }
        .center-content {
          width: 70%;
          margin: auto;
        }
        img {
          width: 100%;
          height: 400px;
          &.scale {
            object-fit: scale-down;
          }
        }
      }
    }
  }
}