.profile-content-page {
    display: flex;
    padding: 15px 0;
    .sidebar {
        flex: 100%;
        min-width: 180px;
        max-width: 250px;
        background-color: #F06292;
        border-radius: 7px;
        box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
        .profile {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            padding: 15px 0 0;
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 1px solid rgba(0,0,0,0.2); 
                margin-bottom: 10px;
            }
            .name {
                font-size: 20px; 
            }
        }
        .links {
            padding: 10px;
            li {
                a {
                    width: 100%;
                    display: flex;
                    color: #fff;
                    border-bottom: 1px solid rgb(0,0,0,0.2);
                    padding: 10px 5px;
                    align-items: center;
                    svg {
                        @if($direction == 'rtl') {
                            margin-left: 10px;
                        } @else {
                            margin-right: 10px;
                        }
                    }
                }
                &:last-child {
                    a {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
    .content {
        flex: 100%;
        max-width: 70%;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
        padding: 10px 15px;
        @if($direction == 'rtl') {
            margin-right: 15px;
        } @else {
            margin-left: 15px;
        }
    }
}