.mini-slider {
  & > h3 {
    font-size: 16px;
    color: #999;
    margin-left: 10px;
  }
  .item {
    margin: 5px;
    &.card-white {
      background-color: #fff;
      border-radius: 3px;
      box-shadow: 0 0 3px 1px #ccc;
      overflow: hidden;
      padding-bottom: 5px;
    }
    img {
      height: 150px;
    }
    h3 {
      font-size: 16px;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 5px 10px;
      margin: 0;
    }
    .distance {
      padding: 0 10px 5px;
      margin: 0;
      color: #999;
    }
    .rate {
      display: flex;
      padding: 0 10px;
      .stars {
        font-size: 14px;
        color: $blue;
        margin-right: 10px;
      }
      .num {
        font-size: 14px;
        color: #999;
      }
    }
  }
}