$blue: #03A9F4;
/* =========== Start Page Header ========== */
body {
  padding-top: 96px;
}
.auth-modal .auth-links {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  a {
    display: block;
    margin-top: 15px;
  }
}
.header-container {
  background: #fff;
  border-bottom: 2px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  .header {
    display: flex;
    //flex-direction: row-reverse;
    max-width: 80%;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin: auto;
    .logo-container {
      display: flex;
      width: 100px;
      align-items: center;
      justify-content: center;
      img {
        width: 60px;
      }
    }
    .search-container {
      width: 100%;
      max-width: 550px;
      display: flex;
      position: relative;
      align-items: center;
      margin: 0 10px;
      &.active {
        input {
          position: absolute;
          z-index: 10;
          box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
        }
        .autocomplete-data {
          display: block;
        }
        .autocomplete {
          display: flex;
        }
      }
      svg {
        position: absolute;
        @if($direction == 'rtl') {
          left: 10px;
        } @else {
          right: 10px;
        }

        font-size: 16px;
        color: rgba(0,0,0,0.3);
        z-index: 15;
      }
      input {
        font-size: 16px;
        font-weight: 200;
        width: 100%;
        border: 0;
        outline: none;
        display: block;
        background-color: #eee;
        border-radius: 30px;
        padding: 5px 10px;
        @if($direction == 'rtl') {
          padding-right: 30px;
        } @else {
          padding-left: 30px;
        }
      }
      .autocomplete-data {
        display: none;
        position: absolute;
        top: -2px;
        background: #fff;
        box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
        width: 100%;
        left: 0;
        padding-top: 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 30px 15px 15px; 
        & > li {
          & > a{
            font-size: 14px;
            display: block;
            color: #666;
          }
          &.head {
            & > a{
              font-size: 16px;
              width: 100%;
              padding-bottom: 5px;
              margin-bottom: 5px;
            }
          }
        }
      }
      .autocomplete {
        display: none;
        position: absolute;
        top: -2px;
        background: #fff;
        box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
        width: 100%;
        left: 0;
        padding-top: 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        & > ul {
          width: 33.3333%;
          padding: 10px 15px;
          & > li {
            & > a{
              font-size: 14px;
              display: block;
              color: #666;
            }
            &.head {
              & > a{
                font-size: 16px;
                border-bottom: 1px solid;
                width: 100%;
                padding-bottom: 5px;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
    .head-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    #sidebar-close-button {
      display: none;
      font-size: 20px;
      background: none;
      border: none;
      width: 100%;
      text-align: left;
      padding: 5px 10px;
      margin: 5px;
    }
    #head-sidebar-btn {
      display: none;
      padding: 0 6px;
      font-size: 25px;
      background: none;
      border: none;
    }
    .header-links {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      & > li {
        height: 100%;
        &.active {
          border-bottom: 2px solid;
          .submenu {
            display: flex;
          }
        }
        & > a {
          display: flex;
          padding: 0 7px;
          height: 100%;
          margin: 0 3px;
          justify-content: center;
          align-items: center;
          color: #666;
        }
        & > .submenu {
          display: none;
          opacity: 0;
          width: 80%;
          margin: 0 10%;
          position: absolute;
          left: 0;
          top: 62px;
          z-index: 30;
          background: #fff;
          padding: 10px;
          box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
          transition: opacity 0.3s ease-out;
          & > ul {
            width: 33%;
            a {
              display: block;
              padding: 5px;
              color: #666;
            }
          }
          & > .img-card {
            width: 33%;
            border-radius: 5px;
            box-shadow: 0 0 2px 1px #ccc;
            margin-right: 3%;
            img {
              width: 100%;
              height: 200px;
            }
            h3 {
              color: #666;
              font-size: 16px;
              padding: 10px;
              margin: 0;
            }
          }
        }
      }
    }
    .account {
      display: flex;
      position: relative;
      max-width: 250px;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      cursor: pointer;
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #ddd;
        padding: 1px;
      }
      svg {
        font-size: 16px;
        color: #666;
      }
      .name {
        margin: 0 10px;
      }
      ul.account-options {
        display: none;
        position: absolute;
        width: 100%;
        top: 63px;
        z-index: 10;
        background: #fff;
        box-shadow: 0 2px 2px 1px rgba(0,0,0,0.3);
        a {
          font-weight: bold;
          display: block;
          padding: 10px;
          border-bottom: 1px solid #ccc;
          color: #666;
          &:hover {
            color: #999;
            text-decoration: none;
          }
        }
      }
      &.active {
        ul.account-options{
          display: block;
        }
      }
    }
  }
  .menu-container {
    border-top: 2px solid #ddd;
    & > ul.menu {
      position: relative;
      display: flex;
      max-width: 70%;
      margin: auto;
      & > li {
        @if($direction == 'rtl') {
          padding: 5px 0 5px 25px;
        } @else {
          padding: 5px 25px 5px 0;
        }
        & > a {
          font-size: 14px;
          font-weight: 500;
          display: inline-block;
          color: #666;
          @if($direction == 'rtl') {
            text-align: right;
          } @else {
            text-align: left;
          }
          &:hover {
            color: $blue;
          }
        }
        &.active > .submenu {
          display: block;
        }
        & > .submenu {
          display: none;
          width: 100%;
          position: absolute;
          top: 36px;
          @if($direction == 'rtl') {
            right: 0;
          } @else {
            left: 0;
          }
          z-index: 30;
          background: #fff;
          padding: 10px;
          opacity: 0;
          box-shadow: 0 2px 2px 1px rgba(0,0,0,0.1);
          transition: all 0.5s ease-out;
          & > ul {
            width: 33%;
            a {
              display: block;
              padding: 5px;
              color: #666;
              &:hover {
                color: $blue;
              }
            }
          }
          & > .img-card {
            width: 33%;
            border-radius: 5px;
            box-shadow: 0 0 2px 1px #ccc;
            @if($direction == 'rtl') {
              margin-right: 3%;
            } @else {
              margin-left: 3%;
            }
            img {
              width: 100%;
              height: 200px;
            }
            h3 {
              color: #666;
              font-size: 16px;
              padding: 10px;
              margin: 0;
            }
          }
          &.active {
            display: flex;
          }
        }
      }
    }
  }
}
.menu-layout {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 60px;
  left: 0;
  z-index: 20;
}
@include sm() {
  .auth-modal .modal-dialog {
    max-width: 400px;
  }
}

@include  max_md() {
  .page-header.header-container {
    .header {
      flex-direction: row-reverse;
      width: 100%;
      max-width: 100%;
      .logo-container {
        width: 150px;
        justify-content: center;
      }
    }
  }
}
@include xs() {
  .page-header.header-container {
    .header {
      .account {
        width: 150px;
        .name {
          display: none;
        }
      }
      .search-container {
        .autocomplete {
          flex-wrap: wrap;
          ul {
            width: 100%;
          }
        }
      }
      #head-sidebar-btn {
        display: block;
      }
      .head-menu {
        position: fixed;
        top: 0;
        height: 100%;
        width: 175px;
        flex-direction: column;
        background-color: #666;
        z-index: 100;
        overflow-y: auto;
        overflow-x: hidden;
        @if($direction == 'rtl') {
          right: 0;
          transform: translate(175px,0);
        } @else {
          left: 0;
          transform: translate(-175px,0);
        }
        transition: transform 0.3s ease-out;
        &.open-sidebar {
          transform: translate(0, 0);
        }
        #sidebar-close-button {
          display: block;
          @if($direction == 'rtl') {
            transform: rotate(180deg);
          }
        }
        .header-links {
          width: 100%;
          height: auto;
          flex-direction: column;
          margin-bottom: 15px;
          li {
            width: 100%;
            height: auto;
            a {
              font-size: 14px;
              width: 100%;
              height: auto;
              color: #fff;
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              padding: 7px;
            }
            &.active {
              border-bottom: 0;
              .submenu {
                display: block;
              }
            }
            .submenu {
              display: none;
              position: unset;
              width: 100%;
              margin: 0;
              flex-direction: column;
              background: rgba(0,0,0,0.3);
              padding: 0 10px;
              opacity: 1;
              ul {
                width: 100%;
              }
              .img-card {
                display: block;
                padding: 0; 
                margin: 0;
                margin-bottom: 0px;
                margin-bottom: 10px;
                box-shadow: none;
                border-radius: 0;
                img {
                  height: auto;
                  width: 100%;
                }
                h3 {
                  color: #fff;
                  font-size: 12px;
                  padding: 5px 10px;
                  width: 100%;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                }
              }
            }
          }
        }
        .auth {
          button {
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
/* =========== Start Page Header ========== */